# Database Configuration
MYSQL_HOST=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# Cookie Validation Keys
FRONTEND_COOKIE_VALIDATION_KEY=
BACKEND_COOKIE_VALIDATION_KEY=

# reCAPTCHA v2
RECAPTCHA_SITE_KEY_V2=
RECAPTCHA_SECRET_V2=

# reCAPTCHA v3
RECAPTCHA_SITE_KEY_V3=
RECAPTCHA_SECRET_V3=

# SMTP Mail
SMTP_HOST=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_PORT=
SMTP_ENCRYPTION=
