.reset-password-container {
    max-width: 500px;

    .reset-password-form {
        padding-top: 50px;
        padding-bottom: 50px;
        min-height: calc(100vh - 428px);

        .invalid-feedback{
            display: block;
        }
    }
}
