$green : #197b4f;
$soft-green: #779e4c;
$soft-green-2 :#C3E4A6;
$white : #FFF;
$purple : #623ab4;
$soft-purple : #7680c5;
$black : #000;
$gray : #ededed;
$dark-gray : #6a6a6a;
$dark-gray-2 : #595a5e;

$purple-gradient : linear-gradient(to right, #7f9bcc , #7069bf);